@charset "UTF-8";
/* ******************************************************************
	--structure.css--
****************************************************************** */
/*==================================================================
	1. Style setting
===================================================================*/
/* ------------------------------------------------------------------
	1-1. Common styles
-------------------------------------------------------------------*/
html {overflow-y: scroll; color: black; background-color: white;}
a:link, a:visited {color: blue; text-decoration: none;}
a:hover, a:active {color: blue; text-decoration: underline;}
body {
	font: 14px/1 Helvetica, Arial, sans-serif;
	background-color: white;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	word-wrap: break-word;
}
select, input, button, textarea, button {font: 1em/1 Helvetica, Arial, sans-serif;}
table {
	font: 100%;
	font-size: inherit;
}
pre, code, kbd, samp, tt {
	font-family: monospace;
	line-height: 1;
}

/* ------------------------------------------------------------------
	1-2. Headline styles
-------------------------------------------------------------------*/

/*==================================================================
	2. Layout setting
===================================================================*/
/* ------------------------------------------------------------------
	2-1. Base styles
-------------------------------------------------------------------*/

/* ------------------------------------------------------------------
	2-2. Header styles
-------------------------------------------------------------------*/

/* ------------------------------------------------------------------
	2-3. Navi styles
-------------------------------------------------------------------*/

/* ------------------------------------------------------------------
	2-4. Main styles
-------------------------------------------------------------------*/

/* ------------------------------------------------------------------
	2-5. Side styles
-------------------------------------------------------------------*/

/* ------------------------------------------------------------------
	2-6. Footer styles
-------------------------------------------------------------------*/
